<div class-="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@equipment, html: { class: 'form-group', role: 'form' }) do |f| %>
      <% if @equipment.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

          <ul>
            <% @equipment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <div class='col-xs-6 col-xs-offset-3'>
          <%= f.label(:name, "Name", for: 'equipment_name') %>
          <%= f.text_field(:name, class: "form-control", placeholder: "Name" ) %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

